#logo-header {
  background-image: url("../etc/plenty_logo_3b_header_low_res.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  height: 20%;
  margin-bottom: 1%;
}

#try-it-link {
  color: indigo;
  a {
    color: indigo;
    text-decoration: underline;
  }
}

html, body, .grid-container {
  min-height: 100%;
}
html, body {
  height: 100%;
}

@include breakpoint(medium) {
  #nav-menu {
    flex-direction: column;
  }
}

@include breakpoint(small) {
  #nav-menu {
    margin-bottom: $header-margin-bottom;
  }
}

p, li {
  font-family: 'Raleway', sans-serif;
}

h3, h2, h1 {
  font-family: 'Comfortaa', sans-serif;
}