#logo-header {
  background-image: url("../etc/plenty_logo_3b_header_low_res.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  height: 20%;
  margin-bottom: 1%;
  margin-top: 0.5%;
}

#try-it-link {
  color: indigo;
  a {
    color: indigo;
    text-decoration: underline;
  }
}

#nav-menu {
  background-color: white;
  padding-right: 1em;
  a.is-active {
    background-color: $primary-color;
    color: white;
  }
}

.audio {
  margin-top: 1.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

audio {
  width: 100%;
}

.plea {
  padding: 1em;
  text-align: justify;
  margin-top: 2em;
  border: 1px solid forestgreen;
  background-color: rgba(34, 139, 34, 0.10);
  color: #071c07;
}

.curious {
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid saddlebrown;
  background-color: rgba(139, 69, 19, 0.05);
  color: #241205;

  img {
    height: 5em;
  }
}

.message-us {
  margin-top: 2em;
}

.equation {
  text-align: center;
}

.tryit {
  width: 100%;
  font-size: 200%;
  color: indigo;
  text-align: center;
  a {
    color: indigo;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: underline  ;
  }
}

html, body {
  min-height: 100%;
  height: 100%;
}

@include breakpoint(medium) {
  #nav-menu {
    flex-direction: column;
  }
}

@include breakpoint(small) {
  #nav-menu-wrapper {
    margin-bottom: $header-margin-bottom;
  }
}

p, li {
  font-family: 'Raleway', sans-serif;
}

h3, h2, h1 {
  font-family: 'Comfortaa', sans-serif;
}